@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root {
    --navbar-background-color: #333;
    --white-color: #fff;
}
/* Navbar  */
.header {
    padding: 25px;
    background-color: var(--navbar-background-color);
    overflow: hidden;
}
.header nav .logo h2 {
    color: var(--white-color);
    font-family: 'Rubik Wet Paint', cursive;
}
.header .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
 .navigation ul{
    display: flex;
    flex-direction: row;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 11px 19px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.navigation ul li a:hover{
    background-color: rgba(255,255,255,0.1);
}